* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

body {
  width: 100%;
  height: 100vh;
  background: cadetblue;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  border: 2px solid black;
  background: cadetblue;
  border-radius: 15px;
  padding: 25px;
}

.container h1 {
  width: 100%;
  height: 50px;
  border-bottom: 2px solid black;
  margin-bottom: 20px;
  padding: 20px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

span {
  background: wheat;
  cursor: pointer;
}

.input {
  color: black;
  font-size: 20px;
  padding-bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.input input {
  margin-top: 5px;
  background: cadetblue;
  border: none;
  outline: none;
  border-bottom: 2px solid black;
}

ul {
  list-style: none;
  width: 100%;
  height: 100%;
  border-left: 2px solid black;
  padding-left: 10px;
}

ul li {
  padding-bottom: 5px;
}

.btns {
  display: flex;
  justify-content: center;
  align-items: center;
}

button {
  width: 100px;
  height: 30px;
  margin-left: 10px;
  background: lightcoral;
  border: none;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
}

.calc {
  background: red;
}

.calc:hover {
  background: lightcoral;
}

button:hover {
  background: red;
}
